<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <li>Enviromental</li>
            <li>Educational</li>
            <li>Community Service</li>
            <li>health and Wellness</li>
        </ul>
    </main>

<%- include('partials/footer') %>